/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styling */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, lightgreen, rgb(180, 238, 87));
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    color: #333;
}

.add-book, .book-list {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    color: #444;
    margin-bottom: 10px;
}

/* Form styling */
form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #45a049;
}

/* Book list styling */
ul {
    list-style-type: none;
}

ul li {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
}

ul li span {
    display: block;
    margin-bottom: 5px;
}

ul li .title {
    font-weight: bold;
    font-size: 18px;
}

ul li .author {
    color: #555;
}

ul li .year {
    color: #777;
}
